$base-grey-color: #384553;
$base-white-color: #FFFFFF;
$base-yellow-color: #FEFCAC;
$base-green-color: #97C6A6;
$base-red-color: #CE6B5E;
$base-blue-color: #89B2CC;
$font-family-pt-sans: 'PT Sans', sans-serif;
$font-family-exo-2: 'Exo 2', sans-serif;
$tablet-size: 768px;
$phone-size: 425px;
